@import url('https://fonts.googleapis.com/css?family=Vollkorn');
/*Formatting indents and stuff*/
textarea.macro-typesim {
	resize: none;
	min-width: 1px;
	border-bottom: 1px solid rgb(20, 20, 19);
	border-left: none;
	border-right: none;
	border-top:none;
	border-radius: 4px;
	width: 6em;
	height: 1.2em;
	overflow: hidden;
	display: inline-block;
	margin:0px;
	color: rgb(20, 20, 19);
}
div.macro-typesim {
	display: none;
}
textarea.macro-typesim:hover {
	background-color: #ece4d3;
	border-bottom: 1px solid rgb(20, 20, 19);
	border-left: none;
	border-right: none;
	border-top:none;
	border-radius: 4px;
}

textarea.macro-typesim:focus {
	background-color: #ece4d3;
	border-bottom: 1px solid rgb(20, 20, 19);
	border-left: none;
	border-right: none;
	border-top:none;
	border-radius: 4px;
}

body {	
	background-color: #e0d2b7;
	color: rgb(20, 20, 19);
	font-family: 'Vollkorn', serif;
	font-size: 125%;
}
@media screen and (min-width: 720px) {
    #story {
		padding-left: 20%;
	}
}

.passage a {
	color: rgb(145, 63, 1);
	font-weight: bold;
}

.passage a:hover{
	color: rgb(110, 78, 55);
	font-weight: bold;
}

.forest {
	background-color: #618856;
	color: rgb(9, 49, 9);
	-webkit-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    -ms-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    transition: background-color 1000ms ease-in, color 1000ms ease-in;
}

body[data-tags~="want"] {
	background-color: rgb(27, 21, 31);
	color: rgb(255, 252, 213);
}


body[data-tags~="want"] a {
	color: rgb(255, 246, 122);
}

body[data-tags~="want"] a:hover {
	color: rgb(255, 250, 177);
}


body.spotlightone {
	background-image: [img[spotlightone]];
	height: 120%; /* You must set a specified height */
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: 120%;
	  background-attachment: fixed;
	position: relative;
	background-color: #2b1e28;
	color: rgb(255, 252, 213);
  }

body.spotlighttwo {
	background-image: [img[spotlightone]], [img[spotlighttwo]];
	height: 120%; /* You must set a specified height */
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: 120%;
	  background-attachment: fixed;
	position: relative;
	background-color: #42313b;
	color: rgb(255, 252, 213);
  }

body.spotlightthree {
/*spotlight one*/
	background-image: [img[spotlightone]], [img[spotlighttwo]], [img[spotlightthree]];
	height: 120%; /* You must set a specified height */
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: 120%;
	  background-attachment: fixed;
	position: relative;
	background-color: #584449;
	color: rgb(255, 252, 213);
  }

body.dark {
	background-color: black;
	color: rgb(255, 252, 213);
}

.wantfont {
	color: rgb(18, 13, 20);
}

.lighter {
	opacity: 0.4;
	-webkit-transition: opacity 1000ms ease-in;
    -ms-transition: opacity 1000ms ease-in;
    transition: opacity 1000ms ease-in;
}

.hide {
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
    -ms-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.show {
	opacity: 1;
}

.flames {
	background-color:#fc9621;
	color: rgb(223, 26, 0);
    -webkit-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    -ms-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    transition: background-color 1000ms ease-in, color 1000ms ease-in;
}

.flames a:hover {
	color: rgb(255, 90, 68);
}

.dragon {
	color: rgb(117, 16, 3);
	font-weight: bold;
}

.dragon a {
	color: rgb(223, 26, 0);
}

.dragon a:hover {
	color: rgb(255, 90, 68);
}

/*.hide {
	visibility:hidden;
	-webkit-transition: visibility 1000ms ease-in;
    -ms-transition: visibility 1000ms ease-in;
    transition: visibility 1000ms ease-in;
}

.show {
	visibility: visible;
	-webkit-transition: visibility 1000ms ease-in;
    -ms-transition: visibility 1000ms ease-in;
    transition: visibility 1000ms ease-in;
}*/

.gone {
	visibility:hidden;
}