@import url('https://fonts.googleapis.com/css?family=Vollkorn');
/*Formatting indents and stuff*/
textarea.macro-typesim {
	resize: none;
	min-width: 1px;
	border-bottom: 1px solid rgb(20, 20, 19);
	border-left: none;
	border-right: none;
	border-top:none;
	border-radius: 4px;
	width: 6em;
	height: 1.2em;
	overflow: hidden;
	display: inline-block;
	margin:0px;
	color: rgb(20, 20, 19);
}

/*The typewriter macro*/
div.macro-typesim {
	display: none;
}
textarea.macro-typesim:hover {
	background-color: #ece4d3;
	border-bottom: 1px solid rgb(20, 20, 19);
	border-left: none;
	border-right: none;
	border-top:none;
	border-radius: 4px;
}

textarea.macro-typesim:focus {
	background-color: #ece4d3;
	border-bottom: 1px solid rgb(20, 20, 19);
	border-left: none;
	border-right: none;
	border-top:none;
	border-radius: 4px;
}

body {	
	background-color: #e0d2b7;
	color: rgb(20, 20, 19);
	font-family: 'Vollkorn', serif;
	font-size: 125%;
}
@media screen and (min-width: 720px) {
    #story {
		padding-left: 20%;
	}
}

.passage a {
	color: rgb(145, 63, 1);
	font-weight: bold;
}

.passage a:hover{
	color: rgb(110, 78, 55);
	font-weight: bold;
}

/*CSS for the Want passage*/
body[data-tags~="want"] {
	background-color: rgb(27, 21, 31);
	color: rgb(255, 252, 213);
}


body[data-tags~="want"] a {
	color: rgb(255, 246, 122);
}

body[data-tags~="want"] a:hover {
	color: rgb(255, 250, 177);
}


body.spotlightone {
	background-image: [img[spotlightone]];
	height: inherit; /* You must set a specified height */
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: cover cover;
	  background-attachment: fixed;
	position: relative;
	background-color: #2b1e28;
	color: rgb(255, 252, 213);
  }

body.spotlighttwo {
	background-image: [img[spotlightone]], [img[spotlighttwo]];
	height: inherit; /* You must set a specified height */
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: cover cover;
	  background-attachment: fixed;
	position: relative;
	background-color: #35262e;
	color: rgb(255, 252, 213);
  }

body.spotlightthree {
	background-image: [img[spotlightone]], [img[spotlighttwo]], [img[spotlightthree]];
	height: inherit; /* You must set a specified height */
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: cover cover;
	  background-attachment: fixed;
	position: relative;
	background-color: #47353a;
	color: rgb(255, 252, 213);
  }

body.dark {
	background-color: black;
	color: rgb(255, 252, 213);
}

.wantfont {
	color: rgb(18, 13, 20);
}
/*CSS for beginning passage, making beginning text more transparent*/
.lighter {
	opacity: 0.4;
	-webkit-transition: opacity 1000ms ease-in;
    -ms-transition: opacity 1000ms ease-in;
    transition: opacity 1000ms ease-in;
}

/*Hides and shows text when appropriate*/
.hide {
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
    -ms-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.show {
	opacity: 1;
}

/*Flames for Forest passage 'flames everywhere' and forest color*/
.flames {
	background-color:#fc9621;
	color: rgb(223, 26, 0);
    -webkit-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    -ms-transition: background-color 1000ms ease-in, color 1000ms ease-in;
	transition: background-color 1000ms ease-in, color 1000ms ease-in;
}

.forest {
	background-color: #618856;
	color: rgb(9, 49, 9);
	-webkit-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    -ms-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    transition: background-color 1000ms ease-in, color 1000ms ease-in;
}

.flames a:hover {
	color: rgb(255, 90, 68);
}

/*Dragon text (makes it black, and red on link*/
.dragon {
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.dragon a {
	color: rgb(223, 26, 0);
}

.dragon a:hover {
	color: rgb(255, 90, 68);
}

/*CSS for the Princess passage*/
.princess {
	background-color: rgb(255, 218, 224);
	color: rgb(180, 21, 95);
	-webkit-transition: background-color 4000ms ease-in, color 4000ms ease-in;
    -ms-transition: background-color 4000ms ease-in, color 4000ms ease-in;
    transition: background-color 4000ms ease-in, color 4000ms ease-in;
}

.mud {
	background-color: rgb(65, 48, 36);
	color: rgb(216, 188, 152);
	-webkit-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    -ms-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    transition: background-color 1000ms ease-in, color 1000ms ease-in;
}

.mud a {
	color: rgb(219, 12, 12);
}

.gone {
	visibility:hidden;
}

.mirror {
	unicode-bidi:bidi-override;
	direction:rtl;
	-webkit-transition: unicode-bidi 100ms ease-in, direction 1000ms ease-in;
    -ms-transition: unicode-bidi 100ms ease-in, direction 1000ms ease-in;
    transition: unicode-bidi 100ms ease-in, direction 1000ms ease-in;
}

.strikedef {
    position: relative;
    display: block;
}
.strikedef:before, .strikedef:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
	background: rgb(219, 12, 12);
}
.strikewait:before {
    left: -2.5px;
}
.strikewait:after {
    right: 2.5px;
	background: rgb(219, 12, 12);
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strikeit:before {
	background: rgb(219, 12, 12);
	width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strikeit:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

/*CSS for the Heaven passage*/
.heaven {
	color: rgb(38, 91, 235);
}

.heaven:hover {
    color: rgb(255, 255, 255);
    text-shadow: rgb(33, 226, 233) 0px 0px 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: text-shadow 1000ms, color 1000ms;
	-ms-transition: text-shadow 1000ms, color 1000ms;
	transition: text-shadow 1000ms, color 1000ms;
	}