/* Typed.js text (and cursor) styling. */
.typed, .typed-cursor {
	font-family: 'Courier New', Courier, monospace, monospace;
	color: rgb(255, 255, 255);
}

/* Typed.js animated cursor styling. */
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Formatting indents and stuff*/
textarea.macro-typesim {
	color:whitesmoke;
	border-radius: 4px;
	resize: none;
	min-width: 1px;
	width: 5em;
	height: 1.5em;
	overflow: hidden;
	display: inline-block;
	margin:0px;
}
div.macro-typesim {
	display: none;
}

