@import url('https://fonts.googleapis.com/css?family=Vollkorn');
/*Formatting indents and stuff*/
textarea.macro-typesim {
	resize: none;
	min-width: 1px;
	border-bottom: 1px solid rgb(20, 20, 19);
	border-left: none;
	border-right: none;
	border-top:none;
	border-radius: 4px;
	width: 6em;
	height: 1.2em;
	overflow: hidden;
	display: inline-block;
	margin:0px;
	color: rgb(20, 20, 19);
}

/*The typewriter macro*/
div.macro-typesim {
	display: none;
}
textarea.macro-typesim:hover {
	background-color: #ece4d3;
	border-bottom: 1px solid rgb(20, 20, 19);
	border-left: none;
	border-right: none;
	border-top:none;
	border-radius: 4px;
}

textarea.macro-typesim:focus {
	background-color: #ece4d3;
	border-bottom: 1px solid rgb(20, 20, 19);
	border-left: none;
	border-right: none;
	border-top:none;
	border-radius: 4px;
}

body {	
	background-color: #e0d2b7;
	color: #141413;
	font-family: 'Vollkorn', serif;
	font-size: 125%;
}

@media screen and (min-width: 720px) {
    #story {
		padding-left: 20%;
	}
}

.passage a {
	color: rgb(145, 63, 1);
	font-weight: bold;
}

.passage a:hover{
	color: rgb(110, 78, 55);
	font-weight: bold;
}

/*CSS for the Want passage*/
body[data-tags~="want"] {
	background-color: rgb(27, 21, 31);
	color: rgb(255, 252, 213);
}


body[data-tags~="want"] a {
	color: rgb(255, 246, 122);
}

body[data-tags~="want"] a:hover {
	color: rgb(255, 250, 177);
}


body.spotlightone {
	background-image: [img[spotlightone]];
	height: inherit; /* You must set a specified height */
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: cover cover;
	  background-attachment: fixed;
	position: relative;
	background-color: #2b1e28;
	color: rgb(255, 252, 213);
  }

body.spotlighttwo {
	background-image: [img[spotlightone]], [img[spotlighttwo]];
	height: inherit; /* You must set a specified height */
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: cover cover;
	  background-attachment: fixed;
	position: relative;
	background-color: #35262e;
	color: rgb(255, 252, 213);
  }

body.spotlightthree {
	background-image: [img[spotlightone]], [img[spotlighttwo]], [img[spotlightthree]];
	height: inherit; /* You must set a specified height */
	background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: cover cover;
	  background-attachment: fixed;
	position: relative;
	background-color: #47353a;
	color: rgb(255, 252, 213);
  }

.dark {
	background-color: black;
	color: rgb(255, 252, 213);
}

.wantfont {
	color: rgb(18, 13, 20);
}
/*CSS for beginning passage, making beginning text more transparent*/
.lighter {
	opacity: 0.4;
	-webkit-transition: opacity 1000ms ease-in;
    -ms-transition: opacity 1000ms ease-in;
    transition: opacity 1000ms ease-in;
}

/*Hides and shows text when appropriate*/
.hide {
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
    -ms-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.show {
	opacity: 1;
}

/*Flames for Forest passage 'flames everywhere' and forest color*/
.flames {
	background-color:#fc9621;
	color: rgb(223, 26, 0);
    -webkit-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    -ms-transition: background-color 1000ms ease-in, color 1000ms ease-in;
	transition: background-color 1000ms ease-in, color 1000ms ease-in;
}

.forest {
	background-color: #618856;
	color: rgb(9, 49, 9);
	-webkit-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    -ms-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    transition: background-color 1000ms ease-in, color 1000ms ease-in;
}

.flames a:hover {
	color: rgb(255, 90, 68);
}

/*Dragon text (makes it black, and red on link*/

.dragon a {
	color: rgb(223, 26, 0);
}

.dragon a:hover {
	color: rgb(255, 90, 68);
}

/*CSS for the Princess passage*/
.princess {
	background-color: rgb(255, 218, 224);
	color: rgb(180, 21, 95);
	-webkit-transition: background-color 4000ms ease-in, color 4000ms ease-in;
    -ms-transition: background-color 4000ms ease-in, color 4000ms ease-in;
    transition: background-color 4000ms ease-in, color 4000ms ease-in;
}

.mud {
	background-color: rgb(65, 48, 36);
	color: rgb(216, 188, 152);
	-webkit-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    -ms-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    transition: background-color 1000ms ease-in, color 1000ms ease-in;
}

.mud a {
	color: rgb(219, 12, 12);
}

.gone {
	visibility:hidden;
}

.strikedef {
    position: relative;
    display: block;
}
.strikedef:before, .strikedef:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
	background: rgb(219, 12, 12);
}
.strikewait:before {
    left: -2.5px;
}
.strikewait:after {
    right: 2.5px;
	background: rgb(219, 12, 12);
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strikeit:before {
	background: rgb(219, 12, 12);
	width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strikeit:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

/*CSS for the Heaven passage*/
.heaven {
	color: rgb(38, 91, 235);
}

.heaven:hover {
    color: rgb(255, 255, 255);
    text-shadow: rgb(33, 226, 233) 0px 0px 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: text-shadow 1000ms, color 1000ms;
	-ms-transition: text-shadow 1000ms, color 1000ms;
	transition: text-shadow 1000ms, color 1000ms;
	}


/*CSS for the Happy passage*/
.bathroom {
	color: rgb(255, 237, 71);
	background-color:#7d8c99;
    -webkit-transition: background-color 1000ms ease-in, color 1000ms ease-in;
    -ms-transition: background-color 1000ms ease-in, color 1000ms ease-in;
	transition: background-color 1000ms ease-in, color 1000ms ease-in;
}

.all {
	color: rgb(211, 13, 89);
	background-color:#ffb1cb;
    -webkit-transition: background-color 500ms ease-in, color 500ms ease-in;
    -ms-transition: background-color 500ms ease-in, color 500ms ease-in;
	transition: background-color 500ms ease-in, color 500ms ease-in;
}

.the1 {
	color: rgb(126, 57, 0);
	background-color:#ff9d5c;
    -webkit-transition: background-color 500ms ease-in, color 500ms ease-in;
    -ms-transition: background-color 500ms ease-in, color 500ms ease-in;
	transition: background-color 500ms ease-in, color 500ms ease-in;
}

.rooms {
	color: rgb(206, 168, 0);
	background-color:#fff1b4;
    -webkit-transition: background-color 500ms ease-in, color 500ms ease-in;
    -ms-transition: background-color 500ms ease-in, color 500ms ease-in;
	transition: background-color 500ms ease-in, color 500ms ease-in;
}

.of {
	color: rgb(21, 95, 27);
	background-color:#7bc06d;
    -webkit-transition: background-color 500ms ease-in, color 500ms ease-in;
    -ms-transition: background-color 500ms ease-in, color 500ms ease-in;
	transition: background-color 500ms ease-in, color 500ms ease-in;
}

.the2 {
	color: rgb(13, 99, 99);
	background-color:#90ffff;
    -webkit-transition: background-color 500ms ease-in, color 500ms ease-in;
    -ms-transition: background-color 500ms ease-in, color 500ms ease-in;
	transition: background-color 500ms ease-in, color 500ms ease-in;
}

.castle {
	color: rgb(31, 37, 124);
	background-color:#568bff;
    -webkit-transition: background-color 500ms ease-in, color 500ms ease-in;
    -ms-transition: background-color 500ms ease-in, color 500ms ease-in;
	transition: background-color 500ms ease-in, color 500ms ease-in;
}

.except {
	color: rgb(66, 16, 99);
	background-color:#a65fcf;
    -webkit-transition: background-color 500ms ease-in, color 500ms ease-in;
    -ms-transition: background-color 500ms ease-in, color 500ms ease-in;
	transition: background-color 500ms ease-in, color 500ms ease-in;
}

.except a:hover {
	color: red;
}

/*CSS for Places passage */
.blink
{
  background-image: linear-gradient(
    -225deg,
    black 0%,
	rgb(255, 252, 213) 50%,
	black 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: rgb(255, 252, 213) 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite reverse;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.pharmacy {
  color: rgb(255, 237, 71);
  animation: flicker 3s linear infinite alternate;
}

@keyframes flicker {
	0% {
		background-color:#72818f;    }
    30% {
		background-color:#788a99;    }
    50% {
		background-color:#768491;    }
    100% {
		background-color:#8695a3;    }
}

.hands {
  	animation: hands 20s ease-in-out infinite alternate;
	position: relative;
	display: inline-block;
}

@keyframes hands {
	0% {translate: 0;}
	25% {translate: -3px 5px;}
	50% {translate: 4px -2px;}
	75% {translate: 6px 1px;}
	100% {translate: -2px -3px;}
}

.face {
	animation: face 10s ease-in-out infinite alternate;
	position: relative;
	display: inline-block;
}

@keyframes face {
	0% {rotate: 0;}
	30% {rotate: 2deg;}
	60% {rotate: -3deg;}
	80% {rotate: 1deg;}
	100% {rotate: -2;}
}

.feet {
	animation: feet 10s ease-in-out infinite alternate;
	position: relative;
	display: inline-block;
}

@keyframes feet {
	0% {scale: 1;}
	45% {scale: 1.05 1}
	100% {scale: 1;}
}

/*CSS for arrived passage */
.darkslow {
	background-color: black;
	color: rgb(255, 252, 213);
	-webkit-transition: background-color 6000ms ease-in, color 6000ms ease-in;
    -ms-transition: background-color 6000ms ease-in, color 6000ms ease-in;
    transition: background-color 6000ms ease-in, color 6000ms ease-in;
}